@model ASP2236903.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>UsuarioRol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            IdUsuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            IdRol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
