
@{
    ViewBag.Title = "Index";
}

@{
    var num1 = 12;
 }



<h2>Index</h2>
<p>
    holaaa 
</p>
<table>
    <tr>
    <td>elemento</td>
    <td>elemento</td>
    </tr>
</table>
<button>boton</button>
<p>@num1</p>
<input type="text" />

